@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

body {
    margin: 0;
    color: #161B21;
    font-family: 'DM Serif Display', serif;
}

header {
    backdrop-filter: saturate(200%) blur(10px);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: 100;
    top: 0;
    position: sticky;
    z-index: 100;
    padding: 10px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.171);
    border-bottom-width: 1px;
    font-size: 32px;
}

.title {
    text-align: center;
    font-weight: 900;
    font-size: 45px;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title strong {
    color:#74916c;
    display: inline;
}


.title a {
    color: #D9D9D9;
    text-decoration: none;
    background-color: #161B21;
    padding: 1rem 2rem;
    font-size: 18px;
    border-radius: 25px;
    transition: all .4s ease;
}

.title a:hover {
    color: #161B21;
    background-color: #D9D9D9;
    transition: all .4s ease;
}